body{
    background: black;

}
.dark{
    background: black;
    color: white;
}
.dark h1{
    color: white;
}
h1{
    color: white;
}
.darkhead{
    color: white;
    font-size: 64px;
}


/* On off*/
.switch-btn {
    display: inline-block;
    cursor: pointer;
    width: 72px; /* ширина */
    height: 38px; /* высота */
    border-radius: 19px; /* радиус скругления */
    background: #bfbfbf; /* цвет фона */
    z-index: 0;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    position: relative;
    transition-duration: 300ms; /* анимация */
}
.switch-btn::after {
    content: "";
    height: 32px; /* высота кнопки */
    width: 32px; /* ширина кнопки */
    border-radius: 17px;
    background: #fff; /* цвет кнопки */
    top: 3px; /* положение кнопки по вертикали относительно основы */
    left: 3px; /* положение кнопки по горизонтали относительно основы */
    transition-duration: 300ms; /* анимация */
    position: absolute;
    z-index: 1;
}
.switch-on {
    background: #21E8F7;
}
.switch-on::after {
    left: 37px;
}

.header{
    padding-top: 2%;
    padding-bottom: 0%;
    width: 100%;
    height: 60px;
box-shadow: 0px 4px 4px rgba(33, 232, 247, 0.15);
background: linear-gradient(270deg, #1E1F21 0%, #313134 100%);
}
.header h1{
    margin: 0;
    font-weight: 24px;
   font-size: 24px;
    font-weight: bold;
}
.header__last{
   flex-basis: 40%;
}
.header__row{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.header__last-row{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.header__person{
    margin-left: 2%;
    margin-right: 2%;
}
.header__switch{
  
    display: flex;
    width: 35%;
    justify-content: space-between;
    align-items: center;
  
 
}

/* Main Window */
.main{
    margin-top: 2%;
}
.ocklock__header{
    text-align: center;
}
.ocklock__visual{
    display: block;
    margin: 0 auto;
    margin-top: 2%;
}
.oclock__circle-gray{
    position: relative;
    display: block;
    margin: 0 auto;
    width: 487px;
height: 487px;

background: #231F21;
border-radius: 500px;
}

.oclock__circle-blue{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 487px;
height: 487px;

background: linear-gradient(270deg, #21E8F7 50%, rgba(33, 232, 247, 0) 60.27%);
border-radius: 500px;
}
.oclock__image{
    position: absolute;
    z-index: 2;
    top: 6%;
    left: 6%;
    width: 431px;
height: 431px;

background: #2C2C2F;
border-radius: 500px;
}
.oclock__image img{
    z-index: 3;
    position: absolute;
    left: 14%;
}
.oclock__button{
    position: absolute;
    z-index: 4;
    top: 90%;
    left: 40%;
}
.choice-btn{
    width: 53px;
height: 54.61px;
left: 1108px;
top: 660px;
border: none;
background: #21E8F7;
border-radius: 100px;
cursor: pointer;
display: none;
}
.oclock__time h2{
    font-weight: bold;
font-size: 72px;
line-height: 48px;
text-align: center;
/* identical to box height */

letter-spacing: 0.145em;
}

.begin-btn{
    display: block;
    margin: 0 auto;
    color: white;
    font-size: 24px;
    border: none;
    width: 300px;
height: 92px;
    background: linear-gradient(90deg, #1BF6FF 0%, #3192E7 84%);
border-radius: 20px;
cursor: pointer;
}
.header__mobile-menu{
    display: none;
}
@media(max-width:1199px){
    .header__last{
        flex-basis: 60%;
    }
    .header__mobile-menu{
        display: block;
    }
}

@media(max-width:768px){
    
    .header__mobile-menu{
        display: block;
    }
    .header__person{
        display: none;
    }
    .header__stat{
        display: none;
    }
    .header__coin{
        display: none;
    }
    .header__switch{
        width: 70%;
    }
    .header__last{
        flex-basis: 40%;
    }
    .header__mobile-menu img{
        padding-top: 30%;
    }
}
@media(max-width: 576px){
    .header__last{
        flex-basis: 55%;
    }
    .container{
        margin-left: 2%;
        margin-right: 2%;
    }
    .header__head h1{
        font-size: 14px;
        padding-top: 10%;
    }
    .header{
        height: 50px;
    }
    .header__switch p{
        font-size: 12px;
    }


    .switch-btn {
        display: inline-block;
        cursor: pointer;
        width: 51px; /* ширина */
        height: 23px; /* высота */
        border-radius: 19px; /* радиус скругления */
        background: #bfbfbf; /* цвет фона */
        z-index: 0;
        margin: 0;
        padding: 0;
        border: none;
        cursor: pointer;
        position: relative;
        transition-duration: 300ms; /* анимация */
    }
    .switch-btn::after {
        content: "";
        height: 18px; /* высота кнопки */
        width: 18px; /* ширина кнопки */
        border-radius: 17px;
        background: #fff; /* цвет кнопки */
        top: 3px; /* положение кнопки по вертикали относительно основы */
        left: 3px; /* положение кнопки по горизонтали относительно основы */
        transition-duration: 300ms; /* анимация */
        position: absolute;
        z-index: 1;
    }
    .switch-on {
        background: #21E8F7;
    }
    .switch-on::after {
        left: 25px;
    }




    .ocklock__visual{
        display: block;
        margin: 0 auto;
        margin-top: 2%;
    }
    .oclock__circle-gray{
        position: relative;
        display: block;
        margin: 0 auto;
        width: 301px;
    height: 301px;
    
    background: #231F21;
    border-radius: 500px;
    }
    
    .oclock__circle-blue{
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 301px;
    height: 301px;
    
    background: linear-gradient(270deg, #21E8F7 50%, rgba(33, 232, 247, 0) 60.27%);
    border-radius: 500px;
    }
    .oclock__image{
        position: absolute;
        z-index: 2;
        top: 6%;
        left: 6%;
        width: 267px;
    height: 267px;
    
    background: #2C2C2F;
    border-radius: 500px;
    }
    .oclock__image img{
        z-index: 3;
        position: absolute;
        left: 14%;
        width: 192px;
        height: 257px;
    }
    .choice-btn{
        display: block;
        width: 33px;
    height: 33.61px;
    left: 1108px;
    top: 660px;
    border: none;
    background: #21E8F7;
    border-radius: 100px;
    cursor: pointer;
    }

    .oclock__time h2{
        font-size: 48px;
    }
    .begin-btn{
        width: 202px;
height: 62px;
font-size: 18px;
    }
    .ocklock__header p{
        padding-top: 40px;
        padding-bottom: 40px;
        font-size: 14px;
    }
}



.range-block{
    display: block;
    width: 30%;
    margin: 0 auto;
    
}
.range-block input{
    display: block ;
    margin: 0 auto;
}

/*  Range */
input[type=range] {
    height: 34px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
    background: none;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    animate: 0.2s;
    /* box-shadow: 1px 1px 1px #3192E7; */
    background: #21E8F7;
    border-radius: 5px;
    border: 0px solid #3192E7;
  }
  input[type=range]::-webkit-slider-thumb {
  
    border: 2px solid #21E8F7;
    height: 23px;
    width: 23px;
    border-radius: 23px;
    background: #231F21;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -6.5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #21E8F7;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    animate: 0.2s;

    background: #21E8F7;
    border-radius: 5px;
    border: 0px solid #3192E7;
  }
  input[type=range]::-moz-range-thumb {
  
    border: 2px solid #21E8F7;
    height: 23px;
    width: 23px;
    border-radius: 23px;
    background: #231F21;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 12px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #21E8F7;
    border: 0px solid #3192E7;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #3192E7;
  }
  input[type=range]::-ms-fill-upper {
    background: #21E8F7;
    border: 0px solid #3192E7;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #3192E7;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
 
    border: 2px solid #21E8F7;
    height: 23px;
    width: 23px;
    border-radius: 23px;
    background: #231F21;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #21E8F7;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #21E8F7;
  }